/* id = # ||| class = . */ 

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#nav {
    display: block;
    width: 100%;
    height: 100px;
    padding : 10px;
    color: white ;
    background: black;
}
.img{
    float: left;
    width: 20%;
}
.liens{
    float: right;
    display: block;
    width: 80%;
}
#logo{
    width: 70%;
    height: auto;
    float: left;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    float: right;
}
nav a:hover{
    color:  #118EBF;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #118EBF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.annulebtn {
    padding: 14px 20px;
    background-color: #11178C;
}
#login{
    float: left;
    width: 10%;
}

.annulebtn, .inscrirebtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
span.mdp {
    float: right;
    padding-top: 16px;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 300px) {
  .annulebtn, .inscrirebtn {
     width: 100%;
  }
  span.mdp {
    display: block;
    float: none;
 }
}

#exercices{
    background-color: #118EBF;
    color: white;
    border: none;
    cursor: pointer;
    width: 25%;
}

#ptitbtn{
    width: 100px;
}
  
  